@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body , html {
	
	background-color: #232F3F;
	
	
}

.button {

	width: 75px;
	background-color: lightslategrey;
	
}

.display .button {

	position: relative;
	left: 1px;
	top: 15px;
	height: 60px;
	color: greenyellow;
	text-align: center;
	font-size: 25px;
	border-radius: 30px;
	box-shadow: 1.5px 1px 2px 1px;
	font-family: 'Ubuntu', sans-serif;

	
}

.display h1 {
	margin-bottom: -5px;
	margin-right: 30px;
	padding-top: 0px;
	margin-top: 1px;
	text-align: right;
	font-family: 'Indie Flower', cursive;
	font-size: 19px;
	color: deeppink;
	
}

.lastb input {

	position: relative;
	left: 34.5px;

}

.button0 {

	position: relative;
	left: 0px;
	top: 15px;
	width: 60px;
	height: 60px;
	margin-left: 0px;
	padding-left: 72.5px;
	padding-right: 72.5px;
	color: greenyellow;
	text-align: center;
	font-size: 25px;
	border-radius: 30px;
	box-shadow: 1.5px 1px 2px 1px;
	background-color: lightslategrey;
	font-family: 'Ubuntu', sans-serif;

	
}

.text {

	position: relative;
	left: 1px;
	top: 8.5px;
	width: 310px;
	height: 38.5px;
	color: black;
	text-align: center;
	font-size: 33px;
	border-radius: 15px;
	box-shadow: 1.5px 1px 2px 1px;
	padding-top: 10px; 
	padding-bottom: 10px;
	font-family: 'Ubuntu', sans-serif;

}
.display  {
	
	margin: 110px 590px 10px 590px ;
	padding: 1px 0px 15px 0px ;
	background-color: #232323; 
	border-radius: 35px;
	box-shadow: 1px 1px 8px 2px;


}

.display img {  

	padding: 0px 246px 0px 1px;
    margin: -28px 15px 1px -6px;
    width: 35px;
    height: 35px;
}
